body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f4f4f9;
}

.form-container {
  padding: 20px 80px;
  backdrop-filter: blur(30px);
  background-color: rgba(30, 0, 0, 0.1);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(255, 51, 51, 0.2);
  text-align: center;
  width: 400px;
}

form label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  color: #333;
}

form input {
  width: 100%;
  padding: 10px;

  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

form input#message {
  font-size: 16px;
  padding: 15px 20px;
  background-color: #f9f9f9;
  cursor: not-allowed;
}

form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.file-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.btn {
  background: transparent;
  * {
    width: 40px;
  }
}

body {
  background-image: url("https://st3.depositphotos.com/10325396/16083/i/450/depositphotos_160832748-stock-photo-programming-code-abstract-technology-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Kontainerni sozlash */
.text-container {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  width: 400px; /* Mos keladigan kenglik */
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #333;
  margin: 50px auto;
  animation: caret-blink 0.7s step-end infinite;
  text-align: left;
}
